{
  "slack_api_key": "SLACKAPIKEY",
  "reddit": {
    "username": "REDDITUSERNAME",
    "password": "REDDITPASSWORD",
    "subreddits": {
      "cat": "catgifs",
      "standup": "catsstandingup",
      "startled": "StartledCats",
      "kitten": "kittengifs",
      "catte": "catts",
      "lolcat": "lolcats",
      "holdmycatnip": "holdmycatnip",
      "space": "spacecats",
      "chubby": "delightfullychubby",
      "sink": "catsinsinks",
      "catt": "CatPics",
      "sitting": "sittinglikehumans",
      "tuckedin": "tuckedinkitties",
      "bigcat": "bigcats",
      "beard": "beardsandcats",
      "bacon": "catswithbacon",
      "catbelly": "catbellies",
      "tuxedo": "tuxedocats",
      "cucumber": "CucumbersScaringCats",
      "laof": "catloaf",
      "box": "catsinboxes",
      "wiggle": "catwiggle",
      "blep": "blep",
      "floof": "floof",
      "meowirl": "meow_irl",
      "spaniel": "cockerspaniel",
      "cavalier": "cavaliers",
      "poodle": "poodles",
      "aww": "aww",
      "dog": "doggifs",
      "pug": "pugs",
      "corgi": "corgi",
      "puppy": "puppy",
      "lab": "labrador",
      "pit": "pitbull",
      "golden": "goldenretrievers",
      "germanshepherd": "germanshepherds",
      "mutt": "mutt",
      "terrier": "terrier",
      "mastiff": "Mastiff",
      "greatdane": "greatdanes",
      "husky": "husky",
      "pomeranian": "pomeranian",
      "fifthworld": "fifthworldpics",
      "sports": "scoreball"
    }
  }
}
