{
  "slack_api_key": "SLACKAPIKEY",
  "reddit": {
    "username": "REDDITUSERNAME",
    "password": "REDDITPASSWORD",
    "appid": "REDDITAPPID",
    "appsecret": "REDDITAPPSECRET",
    "subreddits": {
      "316cats": "316cats",
      "ahrithecat": "AhriTheCat",
      "airedale": "airedale",
      "akita": "akita",
      "alaskanmalamute": "alaskanmalamute",
      "americanbulldog": "Americanbulldog",
      "americanbully": "AmericanBully",
      "americaneskimo": "americaneskimo",
      "amstaffpitts": "AmStaffPitts",
      "amurleopard": "AmurLeopard",
      "australiancattledog": "australiancattledog",
      "australianshepherd": "Australianshepherd",
      "aww": "aww",
      "babybigcatgifs": "BabyBigCatGifs",
      "babygoat": "babygoats",
      "bacon": "catswithbacon",
      "badatcat": "BadAtCat",
      "bagcat": "BagCat",
      "basenji": "basenji",
      "basset": "basset",
      "bathroomkitties": "BathroomKitties",
      "beagle": "beagle",
      "beard": "beardsandcats",
      "beardedcollies": "beardedcollies",
      "beardsandcats": "BeardsAndCats",
      "beauceron": "Beauceron",
      "bengalcats": "BengalCats",
      "bergerbelge": "bergerbelge",
      "bernesemountaindogs": "bernesemountaindogs",
      "bichonfrise": "bichonfrise",
      "bigcat": "bigcats",
      "bigcats": "BigCats",
      "bird": "birdswitharms",
      "blackcats": "BlackCats",
      "blackmouthcur": "BlackMouthCur",
      "blep": "Blep",
      "bleploaf": "BlepLoaf",
      "bobbleheadcats": "BobbleHeadCats",
      "bordercollie": "BorderCollie",
      "borderterrier": "BorderTerrier",
      "bostonterrier": "BostonTerrier",
      "box": "catsinboxes",
      "boxer": "boxer",
      "britishshorthair": "BritishShortHair",
      "brittanyspaniel": "BrittanySpaniel",
      "bro": "AnimalsBeingBros",
      "bunny": "rabbits",
      "buhund": "buhund",
      "bulldogs": "bulldogs",
      "bullterrier": "bullterrier",
      "burmesecats": "BurmeseCats",
      "caninemajesty": "caninemajesty",
      "calicokittys": "CalicoKittys",
      "cat": "Cat",
      "catahoula": "Catahoula",
      "catbellies": "CatBellies",
      "catbelly": "catbellies",
      "catbreading": "CatBreading",
      "catcircles": "CatCircles",
      "catconspiracy": "CatConspiracy",
      "catduch": "Catduch",
      "catfaceplant": "CatFaceplant",
      "catfort": "Catfort",
      "catgifs": "CatGifs",
      "cathats": "CatHats",
      "cathighfive": "CatHighFive",
      "cathletes": "Cathletes",
      "catloaf": "CatLoaf",
      "catlogic": "CatLogic",
      "catpawtouches": "CatPawTouches",
      "catpics": "CatPics",
      "catpictures": "CatPictures",
      "catreactiongifs": "CatReactionGifs",
      "catreddit": "CatReddit",
      "catrolls": "CatRolls",
      "cats": "Cats",
      "catsandguns": "CatsAndGuns",
      "catsareassholes": "CatsAreAssholes",
      "catsaredicks": "CatsAreDicks",
      "catsarejerks": "CatsAreJerks",
      "catsbeingdicks": "CatsBeingDicks",
      "catsbeinglobsters": "CatsBeingLobsters",
      "catscans": "CatScans",
      "catseatingdinner": "CatsEatingDinner",
      "catseatingpasta": "CatsEatingPasta",
      "catselfies": "CatSelfies",
      "catsgivinghighfives": "CatsGivingHighFives",
      "catsholdingthings": "CatsHoldingThings",
      "catshuggingthings": "CatsHuggingThings",
      "catsinboxes": "CatsInBoxes",
      "catsinbusinessattire": "CatsInBusinessAttire",
      "catsinclothes": "CatsInClothes",
      "catsincostumes": "CatsInCostumes",
      "catsinhats": "CatsInHats",
      "catsinlaundry": "CatsInLaundry",
      "catsinpants": "CatsInPants",
      "catsinsinks": "CatsInSinks",
      "catsintrees": "CatsInTrees",
      "catsinwaterpackages": "CatsInWaterPackages",
      "catsisuottatfo": "CatsISUOTTATFO",
      "catslaps": "CatSlaps",
      "catslookingseductive": "CatsLookingSeductive",
      "catsnamedtoothless": "CatsNamedToothless",
      "catsonglass": "CatsOnGlass",
      "catsonkeyboards": "CatsOnKeyboards",
      "catsonleashes": "CatsOnLeashes",
      "catsonpizza": "CatsOnPizza",
      "catsplayingmtg": "CatsPlayingMTG",
      "catsplayingvideogames": "CatsPlayingVideoGames",
      "catspotting": "CatSpotting",
      "catsridingroombas": "CatsRidingRoombas",
      "catssittingdown": "CatsSittingDown",
      "catssmellingthings": "CatsSmellingThings",
      "catsstandingup": "CatsStandingUp",
      "catsstuckinthings": "CatsStuckInThings",
      "catsusinginhalers": "CatsUsingInhalers",
      "catsvstechnology": "CatsvsTechnology",
      "catswearingmakeup": "CatsWearingMakeup",
      "catswithbacon": "CatsWithBacon",
      "catswithhats": "CatsWithHats",
      "catswithwigs": "CatsWithWigs",
      "catt": "CatPics",
      "catte": "catts",
      "catvideos": "CatVideos",
      "catwiggle": "CatWiggle",
      "cavalier": "cavaliers",
      "cemeterycats": "CemeteryCats",
      "cheetahs": "Cheetahs",
      "chickpea": "Chickpea",
      "chihuahua": "chihuahua",
      "chubby": "delightfullychubby",
      "cockerspaniel": "cockerspaniel",
      "colonelmeow": "ColonelMeow",
      "corgi": "corgi",
      "cornishrex": "CornishRex",
      "cougarphotos": "CougarPhotos",
      "cucumber": "CucumbersScaringCats",
      "cupcakecaturday": "CupcakeCaturday",
      "cuteguyswithcats": "CuteGuysWithCats",
      "dachshund": "dachshund",
      "dalmatians": "dalmatians",
      "daniellescat": "Daniellescat",
      "delightfullychubby": "DelightfullyChubby",
      "devonrex": "DevonRex",
      "derp": "AnimalsBeingDerps",
      "dobermanpinscher": "dobermanpinscher",
      "dog": "doggifs",
      "drillcats": "DrillCats",
      "englishsetter": "EnglishSetter",
      "exoticshorthair": "ExoticShorthair",
      "failcat": "FailCat",
      "felidae": "Felidae",
      "fiercecats": "FierceCats",
      "fifthworld": "fifthworldpics",
      "floof": "Floof",
      "ferret": "ferrets",
      "frogdogs": "frogdogs",
      "germanshepherd": "germanshepherds",
      "germanshepherds": "germanshepherds",
      "gingerkitty": "GingerKitty",
      "goat": "goats",
      "goatparkor": "Goatparkour",
      "golden": "goldenretrievers",
      "goldenretrievers": "goldenretrievers",
      "greatdane": "greatdanes",
      "greatdanes": "greatdanes",
      "greatpyrenees": "greatpyrenees",
      "greyhounds": "greyhounds",
      "grumpycat": "GrumpyCat",
      "grumpycats": "GrumpyCats",
      "hawnk": "Hawnk",
      "hermy": "Hermy",
      "holdmycatnip": "holdmycatnip",
      "holdmymilk": "HoldMyMilk",
      "holdmynip": "HoldMyNip",
      "hounds": "hounds",
      "hovercat": "Hovercat",
      "husky": "husky",
      "idraw_on_cats": "iDraw_On_Cats",
      "ififitsisits": "IfIFitsISits",
      "ifitfits": "IfItFits",
      "interruptingcats": "InterruptingCats",
      "ipoopcats": "IPoopCats",
      "irishsetter": "irishsetter",
      "italiangreyhounds": "italiangreyhounds",
      "jackrussellterrier": "jackrussellterrier",
      "jellybeantoes": "JellybeanToes",
      "jerk": "AnimalsBeingJerks",
      "jindo": "jindo",
      "kangal": "kangal",
      "kangaroo": "kangaroos",
      "kangabro": "kangabros",
      "kelpie": "kelpie",
      "kitten": "Kitten",
      "kittengifs": "KittenGifs",
      "kittens": "Kittens",
      "kitties": "Kitties",
      "kittiesinclothes": "KittiesInClothes",
      "kittiesonkeyboards": "KittiesOnKeyboards",
      "kittiesvsthings": "KittiesVsThings",
      "kittieswithcones": "KittiesWithCones",
      "kitty": "Kitty",
      "lab": "labrador",
      "labrador": "labrador",
      "labradors": "labradors",
      "labs": "labs",
      "lazycats": "LazyCats",
      "leopardphotos": "LeopardPhotos",
      "leos": "leos",
      "lilbub": "LilBUB",
      "lions": "Lions",
      "loaf": "catloaf",
      "lolcat": "lolcats",
      "lookatmycat": "LookAtMyCat",
      "lumosthecat": "LumosTheCat",
      "lynxes": "Lynxes",
      "lynxpointsiamese": "LynxPointSiamese",
      "mainecoons": "MaineCoons",
      "maltese": "maltese",
      "manuls": "Manuls",
      "manx": "Manx",
      "margays": "Margays",
      "maru": "Maru",
      "mastiff": "Mastiff",
      "mayathecat": "MayaTheCat",
      "meow_irl": "Meow_Irl",
      "meowirl": "meow_irl",
      "mildlystartledcats": "MildlyStartledCats",
      "miniaturepinscher": "MiniaturePinscher",
      "moneycats": "MoneyCats",
      "munchkincats": "MunchkinCats",
      "mutt": "mutt",
      "mycatbiscuit": "MyCatBiscuit",
      "myhatisacat": "MyHatIsACat",
      "myrtle": "Myrtle",
      "neapolitanmastiff": "neapolitanmastiff",
      "nebelung": "Nebelung",
      "newfoundlander": "newfoundlander",
      "norwegianforestcats": "NorwegianForestCats",
      "ocelots": "Ocelots",
      "oncilla": "Oncilla",
      "onlyhappycats": "OnlyHappyCats",
      "onlytigers": "OnlyTigers",
      "orangecats": "OrangeCats",
      "papillon": "papillon",
      "persiancat": "PersianCat",
      "persiancats": "PersianCats",
      "picsofharlequincats": "PicsOfHarlequinCats",
      "pit": "pitbull",
      "pitbulls": "pitbulls",
      "pomeranian": "pomeranian",
      "pomeranians": "pomeranians",
      "poodle": "poodles",
      "poodles": "poodles",
      "pottedcats": "PottedCats",
      "presacanario": "presacanario",
      "princessdaisy": "PrincessDaisy",
      "pug": "pug",
      "puppy": "puppy",
      "purrfectfit": "PurrfectFit",
      "ragdolls": "Ragdolls",
      "ratterriers": "ratterriers",
      "reg": "Reg",
      "rottweiler": "Rottweiler",
      "roughcollies": "roughcollies",
      "roxiethemoggie": "RoxieTheMoggie",
      "russianblue": "RussianBlue",
      "samoyeds": "samoyeds",
      "sandcats": "SandCats",
      "savannah_cats": "Savannah_Cats",
      "schipperke": "schipperke",
      "schnauzers": "schnauzers",
      "scottishfold": "ScottishFold",
      "scottishterriers": "scottishterriers",
      "shedsalotandnotail": "ShedsALotAndNoTail",
      "shiba": "shiba",
      "shihtzu": "shihtzu",
      "shouldercats": "ShoulderCats",
      "siamesecats": "SiameseCats",
      "siberiancats": "SiberianCats",
      "siberianhusky": "siberianhusky",
      "sighthounds": "sighthounds",
      "silvertabbycats": "SilverTabbyCats",
      "singapura": "Singapura",
      "sink": "catsinsinks",
      "sitting": "sittinglikehumans",
      "sloth": "sloth",
      "sneezingcats": "SneezingCats",
      "snowleopards": "SnowLeopards",
      "soldierswithkittens": "SoldiersWithKittens",
      "sosandthetiny": "SosAndTheTiny",
      "space": "spacecats",
      "spaniel": "cockerspaniel",
      "sphynx": "Sphynx",
      "sports": "scoreball",
      "springerspaniel": "springerspaniel",
      "squishyandbetty": "SquishyAndBetty",
      "standingcats": "StandingCats",
      "standup": "catsstandingup",
      "startled": "StartledCats",
      "startledcats": "StartledCats",
      "stolendogbeds": "StolenDogBeds",
      "stubbs": "Stubbs",
      "stuffoncats": "StuffOnCats",
      "swissmountaindogs": "SwissMountainDogs",
      "tabbycat": "TabbyCat",
      "tardcat": "TardCat",
      "teefies": "Teefies",
      "terrier": "terrier",
      "thingsonmycat": "ThingsOnMyCat",
      "thumbcats": "ThumbCats",
      "tigerpics": "TigerPics",
      "tobi": "Tobi",
      "tollers": "tollers",
      "tortiecats": "TortieCats",
      "tuckedin": "tuckedinkitties",
      "tuckedinkitties": "TuckedInKitties",
      "tuxedo": "tuxedocats",
      "tuxedocats": "TuxedoCats",
      "unorthocat": "Unorthocat",
      "venuscat": "Venuscat",
      "vizsla": "vizsla",
      "weimaraner": "weimaraner",
      "welshterrier": "welshterrier",
      "westhighlandterriers": "WestHighlandTerriers",
      "whippets": "whippets",
      "weasel": "weasel",
      "wiggle": "catwiggle",
      "xoloitzquintli": "xoloitzquintli"
    }
  }
}
